/* Header/logo Title */
.header {
  color: white;
  text-align: center;
  background-image: url("/images/VMABanner.png");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.header-text {
font-size: 32px;
padding: 60px;
text-align: center;
color: white;
text-shadow: 2px 2px 6px #000;
}